body
{
	font: normal 100% 'Open Sans', sans-serif;
}

div.section
{
	width: 30em;
	margin: 0 auto;
}

div.section h3
{
	text-align: center;
}

div.section ul.infolist
{
	padding: 0;
}

div.section ul.infolist li 
{
	list-style: none;
	display: inline;
}

div.section ul.infolist span
{
	width: 4em;
	text-align: right;
	margin-right: 0.5em;
	display: inline-block;
}

div.section div.graph
{
	width: 100%;
	display: inline-block;
}

div.section div.graph .right
{
	float: right;
	text-align: right;
}

div.section .colLeft
{
	display: inline-block;
	width: 49%;
}

div.section .colLeft ul, div.section .colRight ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

div.section .colLeft canvas, div.section .colRight canvas
{
	float: right;
}

div.section h4
{
	text-align: center;
	margin: 0;
	padding-top: 0.5em;
}

div.section .colLeft h4, div.section .colRight h4
{
	text-align: center;
	margin: 0;
	padding-bottom: 1em;
}

div.section .colRight
{
	display: inline-block;
	float: right;
	width: 49%;
}

#storagebar.ui-progressbar
{
	background: honeydew;
}

#storagebar .ui-progressbar-value
{
	background: #4ae371;
}

.section ul.legend
{
	margin: 1em auto;
	width: 30em;
	padding: 0;
}

.section .legend li
{
	width: 9.8em;
	padding: 0.1em 0;
	margin: 0;
	text-align: center;
	list-style: none;
	display: inline-block;
}

.section .rx
{
	background: #4ae371;
}

.section .tx
{
	background: #ffee00;
}
